img{
    width: 400px;
    padding: 200px;
    
}

#one{
    border: 3px solid black;
}
.para{
    font-size:xx-large ;
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    color: blue;
}